.btn {
    &,
    &:link, 
    &:visited {
        font-family: inherit;
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 2rem;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.5rem;

        //change for <button> element
        border: none;
        cursor: pointer;

    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1.5rem 2rem rgba($color-black, $alpha: .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, $alpha: .2);
    }

    &--white {
        color: $color-dark-grey;
        background-color: $color-white;

        &::after {
            background-color: $color-white;
            transition: all .4s;
        }
    }

    &--primary-color {
        color: $color-white;
        background-color: $color-primary-light;

        &::after {
            background-color: $color-primary-light;
            transition: all .4s;
        }
    }

    &::after {
        display: inline-block;
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &--animated {
        animation: moveInTop .5s ease-out;
        animation-delay: 0.5s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link, 
    &:visited {
        text-decoration: none;
        color: $color-primary-light;
        font-size: 1.5rem;
        border-bottom: .1rem solid $color-primary-light;
        display: inline-block;
        padding: .3rem;
        cursor: pointer;
        transition: all .2s;
    }
    &:hover {
        transform: translateY(-.2rem);
        background-color: $color-primary-light;
        color: $color-light-dark;
        box-shadow: 0 1rem 2rem rgba($color-black, $alpha: .2);
    }
    &:active {
        transform: translateY(0);
    }
}