.composition {
    position: relative;
    &__photo {
        width: 55%;
        height: 25rem;
        position: absolute;
        border-radius: .2rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        transition: all .2s, border-radius 0s;
        outline-offset: 2rem;
        &--1 {
            left: 0;
            top: -2rem;
        }
        &--2 {
            right: 0rem;
            top: 2rem;
        }
        &--3 {
            top: 10rem;
            left: 20%;
        }

        &:hover {
            border-radius: 0rem;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .4);
            outline: 1.5rem solid $color-primary-light;
            z-index: 10;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}