.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    padding: 6rem;
    border-radius: .3rem;
    background-color: rgba($color-white, .6);
    transform: skewX(-12deg);
    
    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
    }

    &__img {
        width: 100%;
        transform: scale(1.05);
        backface-visibility: hidden;
        transition: .5s all;
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 1%);
        opacity: 0;
        font-size: 1.7rem;
        text-transform: uppercase;
        text-align: center;
        transition: .5s all;
        backface-visibility: hidden;
    }

    &__text {
        transform: skewX(12deg);
    }

    &:hover &__caption {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    &:hover &__img {
        transform: scale(1);
        filter: blur(3px) brightness(80%);
    }
}